@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #16db65;
  --primary-color-light: #eff1ed;
  --primary-color-dark: #09814a;
  --text-dark: #121619;
  --text-light: #0d2818;
  --white: #ffffff;
  --max-width: 1200px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .section-header {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    color: var(--text-dark);
    text-align: center;
  }
  
  .section-description {
    color: var(--text-light);
    line-height: 1.75rem;
    text-align: center;
  }

.btn {
    padding: 0; 
    width: 126px;
    height: 43px; 
    outline: none;
    border: none;
    white-space: nowrap;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--primary-color-dark);
}

.logo a{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.logo a span{
    color: var(--text-dark);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
 }
.nav-header {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    
}

.nav-logo a {
    color: var(--white);
}
.nav-btn .btn {
    width: 2.7rem;
    height: 2.7rem;
    color: var(--white);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.nav-btn .btn i {

    width: 2.6rem; 
    height: 2.6rem; 
    display: block; 
    flex-shrink: 0; 
    line-height: 2.5rem;
    text-align: center; 
    font-size: 2rem; 
    
}

.nav-links {
    position: absolute;
    top: 4.6rem;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color-light);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav-links.open {
    transform: translateY(0);
}

.nav-links a{
    font-weight: 500;
    color: var(--primary-color);
}

.nav-links a:hover{
    color: var(--text-dark);
}

.nav-btn {
    display: none;
}
.header-container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
  }
  
.header-image img {
    max-width: 550px;
    max-height: 500px;
    margin-inline: auto;
  }
.header-content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text-dark);
    text-align: center;
  }
  
.header-content h1 span {
    color: var(--primary-color);
  }
  
.header-content .section-description {
    margin-bottom: 2rem;
  }
  
.special-container :is(.section-header, .section-description) {
    max-width: 600px;
    margin-inline: auto;
  }
  .menu-grid {
    margin-top: 6rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
}

.menu-card {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    transition: 0.4s;
    height: 100%; 
    min-height: 300px;
}

.menu-rating {
    margin: 10px 0; 
    
    font-size: 1rem;
    color: #ff2c2c;
}

.price {
    margin-top: auto; 
}
  
  .menu-card:hover {
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  }

  .fly-item{
      position: relative;
      height: 28px;
      width: 120px;
      font-size: 1rem;
      padding: 10px 10px;
      text-align: center;
      top: 0;
      left: -1px;
      margin-top: -20px;
      margin-bottom: 0.7rem;
      border-radius: 3px;
      text-align: center;
      line-height: 8px;
      color: var(--white);
      background-color: #ff2c2c;
      box-shadow: 1px 1px 3px #ff7081;
  }
  
  .menu-card img {
    max-width: 200px;
    margin-inline: auto;
    margin-bottom: 1rem;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
  }
  
  .menu-card h4 {
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;
      font-size: 1.1rem;
      font-weight: 700;
      color: var(--text-dark);
  }
  
  .menu-card p {
    margin-bottom: 0.5rem;
    color: var(--text-light);
    line-height: 1.45rem;
    text-align: center;
  }


  .special__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .special__footer .price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .story-container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
  }
  
  .story-image img {
    max-width: 400px;
    max-height: 420px;
    margin-inline: auto;
  
  }
  
  .story-content .section-description {
    margin-bottom: 2rem;
  }
  
  .poster-container {
    display: grid;
    gap: 1rem;
  }
  
  .poster-card {
    padding: 2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 3rem;
    transition: 0.3s;
  }
  
  .poster-card:hover {
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  }
  
  .poster-card .poster-icon {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 5px 11px;
    font-size: 2rem;
    color: var(--white);
    border-radius: 1rem;
  }
  
  .poster-card:nth-child(1) .poster-icon {
    background-color: #62b15c;
    box-shadow: 5px 5px 30px #62b15cd0;
  }
  
  .poster-card:nth-child(2) .poster-icon {
    background-color: #ff2c2c;
    box-shadow: 5px 5px 30px #ff7081;
  }
  
  .poster-card:nth-child(3) .poster-icon {
    background-color: #185adb;
    box-shadow: 5px 5px 30px #185adbd0;
  }
  
  .poster-card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .poster-card p {
    margin-bottom: 1rem;
    color: var(--text-light);
    line-height: 1.75rem;
  }
  
  .poster-card a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 500;
    color: var(--primary-color);
  }
  
  .poster-card a span {
    font-size: 1.25rem;
    transition: 0.3s;
  }
  
  .poster-card a:hover span {
    transform: translateX(10px);
  }
  
  .chef {
    position: relative;
    isolation: isolate;
    overflow: hidden;
  }
  
  
  .chef-container {
    padding-bottom: 10rem;
    display: grid;
    gap: 2rem;
  }
  
  .chef-content .section-description {
    margin-bottom: 1rem;
  }
  
  .chef-image {
    position: relative;
    isolation: isolate;
  }
  
  .chef-image img {
    max-width: 500px;
    border-radius: 100%;
    margin-inline: auto;
  }
  
  .chef-image::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    max-width: 500px;
    background-color: var(--primary-color);
    border-radius: 100%;
    z-index: -1;
  }
  
  .chef-list {
    display: grid;
    gap: 0.5rem;
  }
  
  .chef-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    color: var(--text-dark);
  }
  
  .chef-list li span {
    font-size: 1.5rem;
  }
  
  .chef-list li:nth-child(1) span {
    color: #62b15c;
  }
  .chef-list li:nth-child(2) span {
    color: #ff2c2c;
  }
  .chef-list li:nth-child(3) span {
    color: #185adb;
  }
  
  .client-container {
    padding-top: 0;
  }
  
  .client-container :is(.section-header, .section-description) {
    max-width: 600px;
    margin-inline: auto;
    text-align: center;
  }
  
  .client-swiper {
    margin-top: 2rem;
    max-width: 750px;
    margin-inline: auto;
    padding: 3rem 1rem;
    overflow: hidden;
    border: 2px solid rgba(255,44,44);
    box-shadow: 5px 5px 30px rgba(255, 0, 0, 0.2);
    border-radius: 3rem;
  }
  
  .swiper {
    padding-bottom: 3rem;
    width: 100%;
  }
  
  .client-card {
    text-align: center;
  }
  
  .client-card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  .client-card img {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    max-width: 80px;
    margin-inline: auto;
    border-radius: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  .client-card p {
    margin-bottom: 2rem;
    color: var(--text-dark);
    line-height: 1.75rem;
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
  }
  
  .footer {
    background-color: var(--primary-color-light);
  }
  
  .footer-container {
    display: grid;
    gap: 4rem 2rem;
  }

  .footer .logo {
    margin-bottom: 1rem;
  }
  
  .footer .section-description {
    text-align: left;
  }
  .footer .ftr-heading-1{
    margin-bottom: 16px;
  }
  .footer .ftr-heading-1 h2{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.0rem;
    color: var(--text-dark);
    text-align: center;
 
  }

  .footer .footer-hours .open-hours {
    list-style-type: none; 
    padding: 0; 
}

.footer .footer-hours .open-hours li {
    display: flex; 
    justify-content: space-between; 
    padding: 3px 0; 
    width: 90%;
}

.footer .footer-hours .open-hours li span:last-child {
    margin-left: auto; 
    text-align: right; 
    width: 100%;
}
.footer .footer-contact p {
  padding: 5px 0; 
  width: 90%;
  font-size: 18px;
  color: var(--text-dark);
}
.footer .footer-contact a{
  color: var(--primary-color)
}
.footer .footer-contact a:hover{
  color: var(--primary-color-dark);
}
.footer .footer-contact span{
  padding-right: 15px;
  font-size: 20px;
  color: var(--primary-color);
    
}
.footer .footer-contact .d-flex{
  display: flex; 
  font-size: 35px;
  padding: 5px 0;
  width: 100%;
  
}
.footer .footer-contact .d-flex .btn-social{
  color: var(--primary-color-dark);
  padding-left: 10px;
  padding-right: 20px;
  margin-top: 40px;
}
.footer .footer-contact .d-flex .btn-social:hover{
  color: var(--primary-color);
}
.footer .footer-bar{
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}
  



  @media (width > 540px) {
    .menu-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .poster-container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .footer-container {
      grid-template-columns: 3fr 2fr;
    }
      
  }

@media (width > 768px) {
    nav {
        position: static;
        padding: 2rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
      }

      .nav-header {
        flex: 1;
        padding: 0;
        background-color: transparent;
      }
    
      .nav-logo a {
        color: var(--primary-color);
      }
    
      .nav-menu-btn {
        display: none;
      }
    
      .nav-links {
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
      }
    
      .nav-links a {
        color: var(--text-dark);
      }
    
      .nav-links a:hover {
        color: var(--primary-color);
      }
    
      .nav-btn {
        display: flex;
        flex: 1;
      }
    
      .nav-btn .btn {
        padding: 8px 10px;
        font-size: 1.5rem;
        border-radius: 100%;
      } 
      .header-container {
        grid-template-columns: 2fr 3fr;
        align-items: center;
      }
    
      .header-content h1,
      .header-content .section-description,
      .header-btn {
        text-align: left;
      }
    
      .header-image {
        grid-area: 1/2/2/3;
      }
      .fly-item{
        margin-top: -38px;
      }
      .menu-grid {
        grid-template-columns: repeat(3, 1fr);
      }
      .story-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
      }
    
      .story-content .section-header {
        max-width: 500px;
      }
    
      .story-content :is(.section-header, .section-description),
      .story-btn {
        text-align: left;
      }
      .poster-container {
        grid-template-columns: repeat(3, 1fr);
      }
        
      .chef-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
      }
    
      .chef-image {
        grid-area: 1/2/2/3;
      }
    
      .chef-content :is(.section__header, .section__description) {
        text-align: left;
      }
    
      .chef-list li {
        justify-content: flex-start;
      }
    
      .client-swiper {
        padding: 3rem 2rem;
      }
    
      .footer-container {
        grid-template-columns: 1fr repeat(2, 1fr);
      }

}

@media (width > 1024px) {
  .menu-grid {
    gap: 2rem;
  }

  .menu-card {
    padding: 2rem;
    border-radius: 3rem;
  }

  .poster-container {
    gap: 2rem;
  }

  .chef-bg {
    max-width: 375px;
  }
}